html{
    /* display: grid; */
    text-align: center;
}

body {
    border: groove;
    height: 100vh;
    border-width: thick;
    /* margin: 0; */
}

h3 {
    background-color: #83bb6a;
    padding: 10px 20px 10px 20px;

}

main{
    width: 50%;
    margin: 10% auto;
    border: groove;

}

input{
    border: 4px solid #83bb6a;
    width: 83%;
    height: 30px;
    font-size: 18px;
}


ul{
    color: #F09634;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: start;
    /* margin-left: px; */

}
/* 
.insert{
    margin-top: 5px;
} */


#addSkillsBtn{
    color: #83bb6a;
    background-color: transparent;
    font-weight: bold;
    border: 4px solid #83bb6a;
    width: 16%;
    margin-bottom: 2px;
}

#pgtitle{
    color: white;
    margin-top: 0px;
    width: 100%;
}